/**
 * Typography composite tokens.
 */

/* Text */
.tw-ty-text-article {
  font-family: var(--var-font-serif);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-text-article);
  letter-spacing: var(--var-tracking-wider);
  word-spacing: var(--var-word-spacing-normal);
  line-height: var(--var-leading-looser);
}
.tw-ty-text-s {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-text-s);
  letter-spacing: var(--var-tracking-wider);
  line-height: var(--var-leading-loose);
}
.tw-ty-text-m {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-text-m);
  letter-spacing: var(--var-tracking-wide);
  line-height: var(--var-leading-loose);
}
.tw-ty-text-l {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-normal);
  font-size: var(--var-text-l);
  letter-spacing: var(--var-tracking-wide);
  line-height: var(--var-leading-relaxed);
}

/* Headlines */
.tw-ty-headline-xs {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-headline-xs);
  letter-spacing: var(--var-tracking-wider);
  line-height: var(--var-leading-loose);
}
.tw-ty-headline-s {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-headline-s);
  letter-spacing: var(--var-tracking-wider);
  line-height: var(--var-leading-loose);
  @media (min-width: 48rem) {
    & {
      line-height: var(--var-leading-normal);
    }
  }
}
.tw-ty-headline-m {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-headline-m);
  letter-spacing: var(--var-tracking-normal);
  line-height: var(--var-leading-snug);
}
.tw-ty-headline-l {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-headline-l);
  letter-spacing: var(--var-tracking-tight);
  line-height: var(--var-leading-tight);
}
.tw-ty-headline-xl {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-headline-xl);
  letter-spacing: var(--var-tracking-tighter);
  line-height: var(--var-leading-tight);
  @media (min-width: 48rem) {
    & {
      line-height: var(--var-leading-tighter);
    }
  }
}
.tw-ty-headline-xxl {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-headline-xxl);
  letter-spacing: var(--var-tracking-tighter);
  line-height: var(--var-leading-tight);
  @media (min-width: 48rem) {
    & {
      line-height: var(--var-leading-tighter);
    }
  }
}

/* Buttons */
.tw-ty-button {
  font-family: var(--var-font-sans);
  font-weight: var(--var-font-weight-bold);
  font-size: var(--var-text-button);
  letter-spacing: var(--var-tracking-wider);
  line-height: var(--var-leading-loose);
}
